.btn-div {
    display: inline-block;
    color: #ffffff;
    border: 1px solid #0060af;
    background: #0060af;
    vertical-align: center;
    max-width: 100px;
    min-width: 81px;
    min-height: 38px;
    margin-left: 2rem;
    text-align: center;
    border-radius: 6px;
    padding-top: 3.5px;
    padding-right: 5px;
    padding-left: 5px;
}
