.random-article-header {
    text-align: left;
    margin-right: 2em;
    margin-top: 2em;
    font-size: 1rem;
    color: #0060af;
}

.random-article-body {
    color: #000000;
}

.random-article-body .img {
    width: 25%;
}