.header-container{
    display: flex;
    margin-top: 2em;
    min-width: 100%;
    height: 400px;
    padding-top: 2em;
    text-align: center;
    align-content: center;
}

.header-item{

}

.header-title-box{
    top: -5rem;
    position: relative;
    text-align: center;
}

.header-title{
    color: whitesmoke;
    size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px black;;
}

