.img-container{
    height: 90px;
}

.popular-posts-container{
    display: flex;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.popular-posts-container-info{
    width: 20rem;
    margin: 5px;
}

.posts-box{
    margin-top: 1em;
    text-align: center;
}
.posts-box-header{
    text-align: left;
    font-size: 1rem;
    color: #0060af;
}
