nav {
	display: flex;
	justify-content: space-around;
}

.row {
	padding-top: 1em;
}

.article-hr {
	border-top: 1px dashed #bfbfbf;
}

.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Colour Definitions */
.deep-blue-background {
	background-color: #0060af;
}

.deep-blue-color {
	color: #0060af;
}

.light-m-gray-text {
	color: #838383;
}

.light-s-gray-text {
	color: #bbbbbc;
}
